/* custom cursor */
html, body {
     cursor: url(https://i.ibb.co/Hp4gMkB/cursor.png), auto !important;
   }

/* Importing the font1 (paragraphs) */
@font-face {
    font-family: "Chapter-Regular";
    font-weight: 100;
    src: url(../fonts/Chapter-Regular.otf) format("opentype");
}

/* Importing the font2 (headings and stuff) */
@font-face {
    font-family: "NHaasGroteskTXPro-55Rg";
    font-weight: 100;
    src: url(../fonts/NHaasGroteskTXPro-55Rg.ttf) format("truetype");
}

/* Importing the font3 (nav) */
@font-face {
    font-family: "NHaasGroteskTXPro-65Md";
    font-weight: 100;
    src: url(../fonts/NHaasGroteskTXPro-65Md.ttf) format("truetype");
}

p {
  font-family: "Chapter-Regular", Chapter-Regular;
}


h1 {
font-family: "NHaasGroteskTXPro-55Rg";
position: fixed;
top: -28.6%;
left: 10%;
font-weight: 100;
font-size: 220px;
color: black;
text-decoration: none;
}

h2 {
font-family: "NHaasGroteskTXPro-55Rg";
position: fixed;
right: 10%;
bottom: -28.6%;
font-weight: 100;
font-size: 220px;
color: black;
line-height: 95%;
text-decoration: none;
}

h3 {
font-family: "NHaasGroteskTXPro-55Rg";
font-size: 20px;
}

h4 {
font-family: "Chapter-Regular";
font-size: 13px;
}

/* sidebar menu */
 .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  border: 9px solid black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* sidebar links */
 .sidebar a {
 font-family: "Chapter-Regular";
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: inline-block;
  transition: 0.3s;
}

 #aboutHead a {
 font-family: "NHaasGroteskTXPro-65Md";
  padding: 0px 8px 8px 40px;
  text-decoration: none;
  font-size: 50px;
  color: black;
  display: block;
  transition: 0.3s;
}

#aboutMemes a {
font-family: "NHaasGroteskTXPro-65Md";
 padding: 8px 40px 8px 40px;
 text-decoration: none;
 font-size: 10.1px;
 color: black;
 display: inline-block;
 transition: 0.3s;
}

#about a {
font-family: "Chapter-Regular";
 padding: 8px 40px 8px 40px;
 text-decoration: none;
 font-size: 12px;
 color: black;
 text-align: justify;
 display: inline-block;
 transition: 0.3s;
}

#list a {
font-family: "Chapter-Regular";
 padding: 8px 8px 8px 40px;
 text-decoration: none;
 font-size: 15px;
 color: black;
 display: inline-block;
 transition: 0.3s;
}
/* /////////////////////////////////////////////////////// */

/* navigation links for html pages */
#linkM2 a {
 font-family: "NHaasGroteskTXPro-65Md";
 position: fixed;
 right: 10%;
 top: 14%;
 text-decoration: none;
 font-size: 20px;
 color: black;
 display: inline-block;
  padding: 8px 8px 8px 8px;
 cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
 #linkM2 a:hover {
  color: #04f930;
}

#linkA2 a {
 font-family: "NHaasGroteskTXPro-65Md";
 position: fixed;
 right: 10%;
 top: 20%;
 text-decoration: none;
 font-size: 20px;
 color: black;
 display: inline-block;
  padding: 8px 8px 8px 8px;
 cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
#linkA2 a:hover {
 color: #04f930;
}

#linkA3 a {
 font-family: "NHaasGroteskTXPro-65Md";
 position: fixed;
 right: 10%;
 top: 26%;
 text-decoration: none;
 font-size: 20px;
 color: black;
 display: inline-block;
  padding: 8px 8px 8px 8px;
 cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
#linkA3 a:hover {
 color: #04f930;
}

#linkProposal a {
 font-family: "NHaasGroteskTXPro-65Md";
 position: fixed;
 right: 10%;
 top: 32%;
 text-decoration: none;
 font-size: 20px;
 color: black;
 display: inline-block;
  padding: 8px 8px 8px 8px;
 cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
#linkProposal a:hover {
 color: #04f930;
}
#linkFinal a {
font-family: "NHaasGroteskTXPro-65Md";
position: fixed;
right: 10%;
top: 38%;
 text-decoration: none;
 font-size: 20px;
 color: black;
 display: inline-block;
 padding: 8px 8px 8px 8px;
 cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
#linkFinal a:hover {
 color: #04f930;
}

/* link hover */
 .sidebar a:hover {
  color: #04f930;
}

/* close button top right corner */
 .sidebar .closebtn {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  right: 23px;
  top: 15px;
  cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}

/* open the sidebar */
 .openbtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  /* border: 9px solid black; */
  padding: 5px 15px;
  cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* small screen */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* overriding highlight text selection color */
::selection {
 color: black;
  background: #04f930;
}
  mark {
  background-color: #04f930;
}

/* note */
#note {
  position: absolute;
  left: 20%;
  bottom: 14%;
  height: 55%;
  width: 20%;
  z-index: 9;
  box-shadow: 5px 10px;
  background-color: yellow;
  border: 2px solid black;
}

#noteNotes {
  padding: 22px 40px;
  cursor: move;
  z-index: 10;
  background-color: yellow;
  color: black;
}

/* border styling */
/* #main    {
     position: fixed;
     width: 1210px;
     height: 650px;
     margin: 20px auto;
     margin-left: 20px;
     margin-right: 20px;
     border: 4px solid black;
     } */

/* styling for after prompt */
/* .welcome {
  font-family: "GoodSansRegular";
  color: red;
  font-size: 24px;
  position: fixed;
} */
