/* custom cursor */
html, body {
     cursor: url(https://i.ibb.co/Hp4gMkB/cursor.png), auto !important;
   }

/* Importing the font1 (paragraphs) */
@font-face {
    font-family: "Chapter-Regular";
    font-weight: 100;
    src: url(../fonts/Chapter-Regular.otf) format("opentype");
}

/* Importing the font2 (headings and stuff) */
@font-face {
    font-family: "NHaasGroteskTXPro-55Rg";
    font-weight: 100;
    src: url(../fonts/NHaasGroteskTXPro-55Rg.ttf) format("truetype");
}

/* Importing the font3 (nav) */
@font-face {
    font-family: "NHaasGroteskTXPro-65Md";
    font-weight: 100;
    src: url(../fonts/NHaasGroteskTXPro-65Md.ttf) format("truetype");
}

p {
  font-family: "Chapter-Regular", Chapter-Regular;
  font-size: 12px;
  line-height: 1.3;
}


h1 {
font-family: "NHaasGroteskTXPro-55Rg";
position: fixed;
font-weight: 100;
font-size: 220px;
}

h3 {
font-family: "NHaasGroteskTXPro-55Rg";
font-size: 21px;
}

h4 {
font-family: "Chapter-Regular";
font-size: 13px;
}

h5 {
  font-family: "NHaasGroteskTXPro-55Rg";
  font-size: 10.1px;
}

/* sidebar menu */
 .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  border: 9px solid black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#coding {
  position: fixed;
  top: -28.6%;
  left: 10%;
  color: black;
  text-decoration: none;
}

#corner {
  position: fixed;
  right: 10%;
  bottom: -28.6%;
  color: black;
  text-decoration: none;
}
/* sidebar links */
 .sidebar a {
 font-family: "Chapter-Regular";
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: inline-block;
  transition: 0.3s;
}

 #aboutHead a {
 font-family: "NHaasGroteskTXPro-65Md";
  padding: 0px 8px 8px 40px;
  text-decoration: none;
  font-size: 50px;
  color: black;
  display: block;
  transition: 0.3s;
}

#aboutMemes a {
font-family: "NHaasGroteskTXPro-65Md";
 padding: 8px 40px 8px 40px;
 text-decoration: none;
 font-size: 10.1px;
 color: black;
 display: inline-block;
 transition: 0.3s;
}

#about {
font-family: "Chapter-Regular";
 padding: 8px 90px 1px 40px;
 text-decoration: none;
 font-size: 12px;
 color: black;
 text-align: justify;
 display: inline-block;
 transition: 0.3s;
}

#content {
font-family: "Chapter-Regular";
 padding: 1px 90px 8px 40px;
 text-align: justify;
 text-decoration: none;
 font-size: 12px;
 color: black;
 display: inline-block;
 transition: 0.3s;
}

#viewHere a{
  font-family: "NHaasGroteskTXPro-65Md";
  padding: 10px 90px 10px 40px;
  text-align: justify;
  text-decoration: none;
  font-size: 10.1px;
  color: black;
  transition: 0.3s;
  cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
#viewHere a:hover {
 color: blue;
}

#viewHere2 a{
  font-family: "NHaasGroteskTXPro-65Md";
  padding: 15px 90px 1px 40px;
  text-align: justify;
  text-decoration: none;
  font-size: 10.1px;
  color: black;
  transition: 0.3s;
  cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
#viewHere2 a:hover {
 color: blue;
}

/* /////////////////////////////////////////////////////// */

/* navigation links for html pages */
#linkM2 a {
 font-family: "NHaasGroteskTXPro-65Md";
 position: fixed;
 right: 6%;
 top: 25%;
 text-decoration: none;
 font-size: 20px;
 color: black;
 display: inline-block;
 padding: 8px 8px 8px 8px;
 cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
 #linkM2 a:hover {
  color: blue;
}

#linkA2 a {
 font-family: "NHaasGroteskTXPro-65Md";
 position: fixed;
 right: 6%;
 top: 31%;
 text-decoration: none;
 font-size: 20px;
 color: black;
 display: inline-block;
  padding: 8px 8px 8px 8px;
 cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
#linkA2 a:hover {
 color: blue;
}

#linkA3 a {
 font-family: "NHaasGroteskTXPro-65Md";
 position: fixed;
 right: 6%;
 top: 37%;
 text-decoration: none;
 font-size: 20px;
 color: black;
 display: inline-block;
  padding: 8px 8px 8px 8px;
 cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
#linkA3 a:hover {
 color: blue;
}

#linkProposal a {
 font-family: "NHaasGroteskTXPro-65Md";
 position: fixed;
 right: 6%;
 top: 43%;
 text-decoration: none;
 font-size: 20px;
 color: black;
 display: inline-block;
 padding: 8px 8px 8px 8px;
 cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
#linkProposal a:hover {
 color: blue;
}
#linkFinal a {
 font-family: "NHaasGroteskTXPro-65Md";
 position: fixed;
 right: 6%;
 top: 49%;
 text-decoration: none;
 font-size: 20px;
 color: black;
 display: inline-block;
 padding: 8px 8px 8px 8px;
 cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
#linkFinal a:hover {
 color: blue;
}

/* link hover */
 .sidebar a:hover {
  color: #ffd6ee;
}

/* close button top right corner */
 .sidebar .closebtn {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  right: 23px;
  top: 15px;
  cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}

/* open the sidebar */
 .openbtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  /* border: 9px solid black; */
  padding: 5px 15px;
  cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* small screen */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* overriding highlight text selection color */
::selection {
 color: blue;
  background: #ffd6ee;
}
  mark {
  background-color: #ffd6ee;
}

/* note */
#note {
  position: fixed;
  right: 20%;
  bottom: 12% !important;
  height: 55% !important;
  width: 20%;
  z-index: 9;
  /* box-shadow: 5px 10px; */
  background-color: #ffd6ee;
  border: 9px solid black;
  font-size: 13px;
  cursor: url(https://i.ibb.co/JrLNPNX/drag.png), auto !important;
}

#noteNotes {
  padding: 22px 40px;
  cursor: move;
  z-index: 10;
  background-color: #ffd6ee;
  color: black;
  cursor: url(https://i.ibb.co/JrLNPNX/drag.png), auto !important;
}

/* styling for after prompt */
#welcome {
  font-family: "NHaasGroteskTXPro-55Rg";
  color: black;
  font-size: 150px;
  position: fixed;
  line-height: 1;
}

.middle {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  cursor: url(https://i.ibb.co/d7sdDmb/toast.png), auto !important;
}
